 *{
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
 }
 
 :root
 {
	 --gap: .5em;
	 --index: calc(1vw+1vh);
	 --color-dark: #000000;
 }
 body
 {
	 overflow: hidden;
	 height: 100hv;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 transform: translateZ(5px);	 
	transition: all 0.3s ease-in-out;
 }
 .header
 {
	 text-transform: uppercase;
	 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	 letter-spacing: .25em;
	 font-size: calc(var (--index)*7);
	 position: absolute;
	 font-weight: 400;
	 opacity: .9;
	 margin-top: .2em;
	 
 }
 .header span
 {
	display: block;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16;
	font-weight: 100;
	margin-top: 5px;
 }
 .gallery{
	width: 30vw;
	column-width: 4em;
	gap: var(--gap);
	transform: scale(8.2);
	will-change: transform;
	transition: transform 1s cubic-bezier(.075,1,.25,1),opacity 2s;
 }
 .gallery__item{
 margin-bottom: var(--gap);
 transform: scale(1.001);
 will-change: transform;
 transition: .3s;
 }
 .gallery__item img{
width:100%;
display: block;
 }
 .gallery__item:hover{
	transform: scale(1.05);
 }

 .loaded .gallery{
	opacity: 1;
 }
 .loaded .header span{
	opacity: 0;
 }

 @media(prefers-color-scheme: dark){
	body{
		background-color: #008080;
	}
	.header{
		filter:invert(100%)
	}
	.modeReverse::before{
		background: #ff0055;
	}
 }
 @media(prefers-color-scheme: light){
	body{
		background-color: #ff0055;
	}
	.modeReverse::before{
		background: #008080;
	}
	
}

body.dark{
	background-color:#ff0055;
}
	@media (max-width : 992px) {
 
		.header {
			position: relative;
		}
	 
		body {
			overflow: scroll;
			display: block;
			padding: var(--gap);
		}
	 
		.gallery {
			width: 100%;
			column-width: 10em;
			transform: scale(1);
		}
		.gallery__item:hover {
			transform: scale(1);
		}
	 
	}
.soundbutton{
	position: center;
	bottom: 5vh;
	right: 5vw;
	cursor: pointer;
	width: 60px;
	height:60px;
	transition: .25s ease;
}
.soundbutton img{
	
	width: 60px;
	height:60px;
	border-radius: 100px;
	background-color: goldenrod;
	
	box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}
.soundbutton.paused{
	opacity: 0.25;
}
.toggle{
	position: relative;
	margin-top: 15px;
	height: 20px;
	width: 60px;
	background-color: #ff0055;
	border-radius: 100px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
	cursor: pointer;
}
.toggle::before{
	content: "";
	position: absolute;
	height: 17px;
	width: 17px;
	background:goldenrod; 
	border-radius: 50%;
	top: 50%;
	left: 2px;
	transform: translateY(-50%);
	transition: all 0.3s ease-in-out;
}
.toggle.active::before{
	background-color: goldenrod;
	left:calc(68%);
}
.toggle.active{
	background-color: #008080;
}